<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>
			Yummy Nouilles - Contact
		</title>
		<link rel="icon" href="../assets/logo.svg" type="image/svg+xml">
		<link rel="stylesheet" href="../styles/main.css">
	</head>
	<body>
		<header class="appBar">
			<img class="appBar__icon"
				src="../assets/logo.svg"
				alt="Image du logo">
			<nav class="appBar__nav">
				<a class="appBar__navItem"
					href="../index.html">
					Acceuil
				</a>
				<a class="appBar__navItem"
					href="menu.html">
					Menu
				</a>
				<a class="appBar__navItem active"
					href="contact.html">
					Contact
				</a>
			</nav>
		</header>






		<section class="redBanner">
			<h3 class="redBanner__title">
				Commandez maintenant!
			</h3>
			<a class="cta"
				href="#">
				click & collect
			</a>
		</section>




		<section class="contact">
			<h1 class="contact__title">nos adresses</h1>
			<div class="contact__addressContainer">


				<p class="contact__address">
					<strong class="contact__addressTitle">yummy noodle</strong>
					<br>
					185 rue de Lancry
					<br>
					75010 Paris
					<br>
					+331 44 33 55 22
					<br>
					Lundi à Dimanche - 12h à 23h
				</p>
				<p class="contact__address">
					<strong class="contact__addressTitle">yu noodle my</strong>
					<br>
					350 rue Saint-Guillaume
					<br>
					75007 Paris
					<br>
					+331 44 33 55 22
					<br>
					Lundi à Vendredi - 12h à 22h
				</p>
				<p class="contact__address">
					<strong class="contact__addressTitle">les yummy nouilles</strong>
					<br>
					208 rue au Maire
					<br>
					75003 Paris
					<br>
					+331 44 33 55 22
					<br>
					Lundi à Dimanche - 12h à 23h
				</p>
			</div>


		</section>




		<section class="contactInfo">
			<h2 class="contactInfo__title">contactez-nous</h2>
			<p class="contactInfo__text">
				Vous souhaitez nous poser une question, nous faire un feedback, ou tout simplement nous contacter ?
				<br>
				Écrivez-nous à
				<a class="contactInfo__link"
					href="mailto:yummy@noodles.fr">
					yummy@noodles.fr
				</a>
				ou appelez nous au
				<a class="contactInfo__link"
					href="tel:+01 13 86 23 42">
					01 13 86 23 42
				</a>
			</p>
		</section>














		<footer class="footer">
			<a href="http://"
				class="footer__icon">
				<img src="../assets/icons/instagram.svg"
					alt="Logo instagram">
			</a>
			<a href="http://"
				class="footer__icon">
				<img src="../assets/icons/facebook.svg"
					alt="Logo facebook">
			</a>






			<a href="http://"
				class="footer__icon">
				<img src="../assets/icons/maps_and_flags.svg"
					alt="Logo maps_and_flags">
			</a>






		</footer>
	</body>
</html>
